<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="../public/css/admin-Dashboard.css" rel="stylesheet" th:href="@{/css/admin-Dashboard.css}">
</head>
<body>
<h1>Admin Dashboard</h1>
<div class="actions">
    <a class="button" th:href="@{/materials}">View All Materials</a>
    <a class="button" th:href="@{/materials/create}">Add New Materials</a>
    <a class="button" th:href="@{/admin/orders}">Manage Orders</a>
    <a class="button" th:href="@{/admin/emails}">Send Email</a>
    <form method="post" style="display: inline;" th:action="@{/logout}">
        <button class="button" type="submit">Logout</button>
    </form>
</div>
<footer>
    <p>© 2024 Johannesfog.dk. Alle rettigheder forbeholdes.</p>
</footer>
</body>
</html>
