<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="../public/css/chooseCarportStyle.css" th:href="@{/css/chooseCarportStyle.css}" rel="stylesheet">


  <title>Fog</title>
</head>
<body>

<form method="post">
<div class="box">
  <h2>Carport med fladt tag</h2>
  <p>Udfyld nedenstående omhyggeligt og tryk "Bestil tilbud".
    Så vender vi hurtigst muligt tilbage med et tilbud til dig.</p>
  <div class="dropdown">
    <label for="menu1">Carport bredde</label>
    <select id="menu1" name="width" required>
      <option value="" disabled selected></option>
      <option value="option1">240 cm</option>
      <option value="option2">270 cm</option>
      <option value="option3">300 cm</option>
      <option value="option1">330 cm</option>
      <option value="option1">360 cm</option>
      <option value="option1">390 cm</option>
      <option value="option1">420 cm</option>
      <option value="option1">450 cm</option>
      <option value="option1">480 cm</option>
      <option value="option1">510 cm</option>
      <option value="option1">540 cm</option>
      <option value="option1">570 cm</option>
      <option value="option1">600 cm</option>
    </select>
  </div>
  <div class="dropdown">
    <label for="menu2">Carport længde</label>
    <select id="menu2" name="length" required>
      <option value="" disabled selected></option>
      <option value="option1">240 cm</option>
      <option value="option2">270 cm</option>
      <option value="option3">300 cm</option>
      <option value="option1">330 cm</option>
      <option value="option1">360 cm</option>
      <option value="option1">390 cm</option>
      <option value="option1">420 cm</option>
      <option value="option1">450 cm</option>
      <option value="option1">480 cm</option>
      <option value="option1">510 cm</option>
      <option value="option1">540 cm</option>
      <option value="option1">570 cm</option>
      <option value="option1">600 cm</option>
      <option value="option1">630 cm</option>
      <option value="option1">660 cm</option>
      <option value="option1">690 cm</option>
      <option value="option1">720 cm</option>
      <option value="option1">750 cm</option>
      <option value="option1">780 cm</option>
    </select>
  </div>
  <div>
    <input type="submit" class="checkout-button" value="Læg i kurv">
  </div>
</div>
</form>

</body>
</html>
