<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Material</title>
    <link href="../public/css/createMaterial.css" rel="stylesheet" th:href="@{/css/createMaterial.css}">
</head>
<body>
<header class="top-bar">
    <div class="header-container">
        <div class="logo-container">
            <img alt="Fog Logo" class="logo" th:src="@{/images/img.png}">
            <span>Bolig & design</span>
        </div>
        <nav class="menu-container">
            <a class="nav-link" th:href="@{/admin}">Panel</a>
            <a class="nav-link" th:href="@{/materials}">Materialer</a>
        </nav>
    </div>
</header>

<main class="content-container">
    <h1>Tilføj Nye Materialer</h1>
    <form class="form-container" method="post" th:action="@{/materials/create}">
        <label for="description">Beskrivelse:</label>
        <input id="description" name="description" required type="text">

        <label for="length">Længde:</label>
        <input id="length" name="length" type="number">

        <label for="amount">Antal:</label>
        <input id="amount" name="amount" required type="number">

        <label for="unit">Enhed:</label>
        <input id="unit" name="unit" required type="text">

        <label for="function">Funktion:</label>
        <input id="function" name="function" required type="text">

        <label for="price">Pris:</label>
        <input id="price" name="price" required type="number">

        <button class="button-primary" type="submit">Tilføj Materiale</button>
        <p class="errormessage" th:text="${#ctx.message}"></p>
    </form>
</main>

<footer>
    <p>© 2024 Johannesfog.dk. Alle rettigheder forbeholdes.</p>
</footer>
</body>
</html>
