<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Material</title>
</head>
<body>
<h1>Create New Material</h1>
<form th:action="@{/materials/create}" method="post">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br>

    <label for="length">Length:</label>
    <input type="number" id="length" name="length"><br>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" required><br>

    <label for="unit">Unit:</label>
    <input type="text" id="unit" name="unit" required><br>

    <label for="function">Function:</label>
    <input type="text" id="function" name="function" required><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required><br>

    <button type="submit">Create Material</button>
    <p class="errormessage" th:text="${#ctx.message}"></p>
</form>
<a th:href="@{/materials}">Back to Material List</a>
</body>
</html>