<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Material</title>
    <link rel="stylesheet" href="../public/css/createMaterial.css" th:href="@{/css/createMaterial.css}">
</head>
<body>
<header class="top-bar">
    <div class="header-container">
        <div class="logo-container">
            <img th:src="@{/images/img.png}" alt="Fog Logo" class="logo">
            <span>Bolig & design</span>
        </div>
        <nav class="menu-container">
            <a th:href="@{/admin}" class="nav-link">Dashboard</a>
            <a th:href="@{/materials}" class="nav-link">Materials</a>
        </nav>
    </div>
</header>

<main class="content-container">
    <h1>Create New Material</h1>
    <form th:action="@{/materials/create}" method="post" class="form-container">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <label for="length">Length:</label>
        <input type="number" id="length" name="length">

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>

        <label for="unit">Unit:</label>
        <input type="text" id="unit" name="unit" required>

        <label for="function">Function:</label>
        <input type="text" id="function" name="function" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>

        <button type="submit" class="button-primary">Create Material</button>
        <p class="errormessage" th:text="${#ctx.message}"></p>
    </form>
</main>

<footer>
    <p>© 2024 Johannesfog.dk. Alle rettigheder forbeholdes.</p>
</footer>
</body>
</html>
