<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johannesfog.dk</title>
    <link href="../public/css/styleSheet.css" th:href="@{/css/styleSheet.css}" rel="stylesheet">

</head>
<body>
<header class="top-bar">
    <div class="header-container">
        <div class="logo-container">
            <img th:src="@{/images/img.png}" alt="Fog Logo" class="logo">
            <span>Bolig & design</span>
        </div>
        <div class="menu-container">
            <div th:if="${session.currentUser == null}" class="login-container">
                <a th:href="@{/login}" class="login-link">
                    <img th:src="@{/images/user-icon.png}" alt="User Icon" class="icon">
                    Fog Konto
                </a>
            </div>
            <div th:if="${session.currentUser != null}" class="user-container">
                <a th:href="@{/orders}" class="my-orders-link">
                    <img th:src="@{/images/orders-icon.png}" alt="Orders Icon" class="icon">
                    Mine Ordre
                </a>
                <form th:action="@{/contact}" method="get">
                    <button type="submit" class="contact">Contact Us</button>
                </form>
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit" class="logout-link">
                        <img th:src="@{/images/logout-icon.png}" alt="Logout Icon" class="icon">
                        Log ud
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="info-bar">
        <div class="info-item">
            <p>30 dages returret</p>
        </div>
        <div class="info-item">
            <p>Klik og hent inden for 3 timer*</p>
        </div>
        <div class="info-item">
            <p>1-3 dages levering*</p>
        </div>
        <div class="info-item">
            <p>Lån en trailer gratis</p>
        </div>
    </div>
</header>

<main class="button">
    <div class="button-content">
        <h1>Johannesfog.dk</h1>
        <form th:if="${isLoggedIn}" th:action="@{/chooseCarport}" method="get">
            <button type="submit" class="button-button">Quick Selv-Byg Carport</button>
        </form>

        <form th:unless="${isLoggedIn}" th:action="@{/login}" method="get">
            <button type="submit" class="button-button">Quick Selv-Byg Carport</button>
        </form>
    </div>
    <div class="carport-image-container">
        <img th:src="@{/images/carport.png}" alt="Fog Carport" class="carport-image">
    </div>
</main>

<footer>
    <p>© 2024 Johannesfog.dk. Alle rettigheder forbeholdes.</p>
</footer>
</body>
</html>
