<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login Page</title>
    <link href="../public/css/style-login-register.css" rel="stylesheet" th:href="@{/css/style-login-register.css}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <img alt="Fog Logo" class="logo" src="../public/images/img.png"
             th:src="@{/images/img.png}">
        <h1>Login</h1>
        <p>Log på med din mailadresse</p>
        <form method="post" th:action="@{/login}">
            <label for="email">Mailadresse</label>
            <input id="email" name="email" placeholder="Mailadresse" required type="email">
            <label for="password">Adgangskode</label>
            <input id="password" name="password" placeholder="Adgangskode" required type="password">
            <button class="login-button" type="submit">Log på</button>
            <a class="create-account1" th:href="@{/register}">Create Account</a>
            <p class="errormessage" th:text="${#ctx.message}"></p>
        </form>
    </div>
</div>
</body>
</html>