<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Materials</title>
    <link href="../public/css/materialStyleSheet.css" rel="stylesheet" th:href="@{/css/materialStyleSheet.css}">
</head>
<body>
<header class="top-bar">
    <div class="header-container">
        <div class="logo-container">
            <img alt="Fog Logo" class="logo" th:src="@{/images/img.png}">
            <span>Bolig & design</span>
        </div>
        <nav class="menu-container">
            <a class="nav-link" th:href="@{/admin}">Dashboard</a>
        </nav>
    </div>
</header>

<main class="content-container">
    <h1>Materials List</h1>
    <table class="material-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Length</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>Function</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="material : ${materials}">
            <td th:text="${material.materialId}"></td>
            <td th:text="${material.description}"></td>
            <td th:text="${material.length}"></td>
            <td th:text="${material.amount}"></td>
            <td th:text="${material.unit}"></td>
            <td th:text="${material.function}"></td>
            <td th:text="${material.price} + ' DKK'"></td>
            <td>
                <a class="primary-button" th:href="@{/materials/update(id=${material.materialId})}">Update</a>
                <form class="inline-form" method="post" th:action="@{/materials/delete}">
                    <input name="id" th:value="${material.materialId}" type="hidden">
                    <button class="primary-button delete-button" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>© 2024 Johannesfog.dk. Alle rettigheder forbeholdes.</p>
</footer>
</body>
</html>
