<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link href="../public/css/stylesOrderDetails.css" th:href="@{/css/stylesOrderDetails.css}" rel="stylesheet">
</head>


<body>
<header class="top-bar">
    <div class="header-container">
        <div class="logo-container">
            <img th:src="@{/images/img.png}" alt="Fog Logo" class="logo">
            <span>Bolig & design</span>
        </div>
        <nav class="menu-container">
            <a th:href="@{/}" class="nav-link">Home</a>
            <a th:href="@{/orders}" class="nav-link">Orders</a>
        </nav>
    </div>
</header>

<div class="alert" th:if="${message}">
    <p th:text="${message}"></p>
</div>

<section class="order-section" th:if="${order == null}">
    <p>Order details are not available.</p>
</section>

<section class="order-section" th:if="${order != null}">
    <h2>Order Information</h2>
    <p><strong>Order ID:</strong> <span th:text="${order.orderId}"></span></p>
    <p><Strong>Order Date:</Strong> <span th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"></span>
    <p><strong>Status:</strong> <span th:text="${order.orderStatus}"></span></p>
</section>

<section class="carport-section">
    <h2>Carport Specifications</h2>
    <p><strong>Carport ID:</strong> <span th:text="${carportSpec.carportId}"></span></p>
    <p><strong>Length:</strong> <span th:text="${carportSpec.length}"></span> cm</p>
    <p><strong>Width:</strong> <span th:text="${carportSpec.width}"></span> cm</p>
</section>

<div th:if="${order.orderstatus == 'Completed'}">
    <div th:utext="${svg}" class="carport-drawing-container"></div>
</div>
</body>
</html>