<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link rel="stylesheet" href="../public/css/paymentStyle.css" th:href="@{/css/paymentStyle.css}">
</head>
<body>
<div class="payment-container">
    <h1>Payment and Billing</h1>

    <form th:action="@{/payment/complete}" method="post">
        <input type="hidden" name="orderId" th:value="${param.orderId}" />

        <h2>Billing Information</h2>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Enter your E-mail" required />

        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" placeholder="Enter your first name" required />

        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" placeholder="Enter your last name" required />

        <label for="street-name">Street Name</label>
        <input type="text" id="street-name" name="street-name" placeholder="Enter your street name" required />

        <label for="house-number">House Number</label>
        <input type="text" id="house-number" name="house-number" placeholder="Enter your house number" required />

        <label for="zip">ZIP Code</label>
        <input type="number" id="zip" name="zip" placeholder="Enter ZIP code" required />

        <h2>Payment Information</h2>
        <label for="card-number">Card Number</label>
        <input type="text" id="card-number" name="card-number" placeholder="1234 5678 9012 3456" required maxlength="19" pattern="\d{4} \d{4} \d{4} \d{4}" />

        <div class="payment-details">
            <div class="row">
                <div class="col">
                    <label for="expiry-date">Expiry Date</label>
                    <input type="text" id="expiry-date" name="expiry-date" placeholder="MM/YY" required maxlength="5" pattern="\d{2}/\d{2}" />
                </div>
                <div class="col">
                    <label for="cvv">CVV</label>
                    <input type="password" id="cvv" name="cvv" placeholder="123" required maxlength="3" pattern="\d{3}" />
                </div>
            </div>
        </div>

        <button type="submit">Complete Payment</button>
    </form>
</div>
</body>
</html>
