<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Payment Page</title>
    <link href="../public/css/paymentStyle.css" rel="stylesheet" th:href="@{/css/paymentStyle.css}">
</head>
<body>
<div class="payment-container">
    <h1>Betaling og fakturering</h1>

    <form method="post" th:action="@{/payment/complete}">
        <input name="orderId" th:value="${param.orderId}" type="hidden"/>

        <h2>Billing Information</h2>
        <label for="email">E-mail</label>
        <input id="email" name="email" placeholder="Indtast din Email" required type="email"/>

        <label for="first-name">First Name</label>
        <input id="first-name" name="first-name" placeholder="Indtast dit fornavn" required type="text"/>

        <label for="last-name">Last Name</label>
        <input id="last-name" name="last-name" placeholder="Indtast dit efternavn" required type="text"/>

        <label for="street-name">Street Name</label>
        <input id="street-name" name="street-name" placeholder="Indtast dit gadenavn" required type="text"/>

        <label for="house-number">House Number</label>
        <input id="house-number" name="house-number" placeholder="Indtast dit husnummer" required type="text"/>

        <label for="zip">ZIP Code</label>
        <input id="zip" name="zip" placeholder="Indtast postnummer" required type="number"/>

        <h2>Payment Information</h2>
        <label for="card-number">Card Number</label>
        <input id="card-number" maxlength="19" name="card-number" pattern="\d{4} \d{4} \d{4} \d{4}"
               placeholder="1234 5678 9012 3456" required
               type="text"/>

        <div class="payment-details">
            <div class="row">
                <div class="col">
                    <label for="expiry-date">Expiry Date</label>
                    <input id="expiry-date" maxlength="5" name="expiry-date" pattern="\d{2}/\d{2}" placeholder="MM/YY"
                           required
                           type="text"/>
                </div>
                <div class="col">
                    <label for="cvv">CVV</label>
                    <input id="cvv" maxlength="3" name="cvv" pattern="\d{3}" placeholder="123" required
                           type="password"/>
                </div>
            </div>
        </div>

        <button type="submit">Gennemfør Betaling</button>
    </form>
</div>
</body>
</html>
