<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Material</title>
    <link href="../public/css/updateMaterial.css" th:href="@{/css/updateMaterial.css}" rel="stylesheet">
</head>
<body>
<header class="top-bar">
    <div class="header-container">
        <h1>Update Material</h1>
    </div>
</header>

<main class="content-container">
    <form th:action="@{/materials/update}" method="post" class="form-container">
        <input type="hidden" name="id" th:value="${material.materialId}" />

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:value="${material.description}" required><br>

        <label for="length">Length:</label>
        <input type="number" id="length" name="length" th:value="${material.length}"><br>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" th:value="${material.amount}" required><br>

        <label for="unit">Unit:</label>
        <input type="text" id="unit" name="unit" th:value="${material.unit}" required><br>

        <label for="function">Function:</label>
        <input type="text" id="function" name="function" th:value="${material.function}" required><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:value="${material.price}" required><br>

        <button type="submit" class="button-primary">Update Material</button>
        <p class="errormessage" th:text="${#ctx.message}"></p>
    </form>
    <a th:href="@{/materials}" class="button-secondary">Back to Material List</a>
</main>

<footer>
    <p>© 2024 Your Company. All rights reserved.</p>
</footer>
</body>
</html>